
.search-page.for-mobile{
    margin-top: -15px;
}
.for-mobile .check-filters{
    background: #e3e3e3;
}
.for-mobile .search-properties-block{
    border-radius: 0;
    border: none;
    margin-top: 0;
}
.for-mobile .search-properties-block .property-block-title{
    margin: 0;
}
.for-mobile .properties-block-group.top-filters {
    background: #e3e3e3;
    color: #000;
    padding: 25px 21px;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 40px;

}
.for-mobile .properties-block-group.top-filters:last-child{
    border-bottom: none;
}
.for-mobile .search-properties-block h3{
    color: #000;
    text-transform: inherit;
    font-size: 24px;
    margin-top: 2px !important;
    margin-bottom: 20px !important;
}
.for-mobile .property-block-values{
    margin-bottom: 0;
}
.slider-track{
    margin-top: 25px;
}

.for-mobile .search-properties-block .ui-widget-content{
    background: #1ea556;
    border-radius: 0;
    border: 0;
    height: 9px;
    width: 80%;
    margin-top: 15px;
    display: inline-block;
    margin-left: 75px;
}
.for-mobile .search-properties-block .ui-widget-content:before{
    display: none;
}
.for-mobile .search-properties-block .ui-state-default, .for-mobile .search-properties-block .ui-widget-content .ui-state-default,
.for-mobile .search-properties-block .ui-widget-header .ui-state-default, .for-mobile  .search-properties-block .ui-state-default:focus{
    background: #d67701;
    border: 6px solid #ff8e01;
    height: 30px;
    width: 30px;
    margin-top: -6px;
}


.for-mobile .stars-block{
    font-size: 64px;
    color:#cccccc;
    margin-left: 130px;
}

.top-filters .property-block-value.selector:hover{
    background: inherit;
}
.top-filters .property-block-value.selector{
    display: inline-block;
}
.search-properties-block .top-filters .radio-button + label{
    text-align: center;
    margin-left: 35px;
    font-size: 18px;
    font-weight: 700;
}
.search-properties-block .top-filters .radio-button + label:before{
    display: none;
}
.search-properties-block .top-filters .radio-button + label:after{
    content: '';
    position: relative;
    border: 1px solid #8c8c8c;
    border-radius: 50%;
    background: #FFF;
    display: block;
    right: 0;
    width: 25px;
    height: 25px;
}
.search-properties-block .radio-button:checked + label:after {
    background: #1c932b;
    border-color:#1c932b;;
}

.any-filters .property-block.panel.selector{
    padding: 0;
}
.any-filters .property-block-values{
    background: #e3e3e3;
    padding-left: 21px;
    padding-top: 25px;
    padding-bottom: 24px;
}
.search-properties-block .any-filters .property-block-title{
    margin-left: 21px;
    padding-right: 0;
    font-size: 21px;
    font-weight: 400;
    padding: 22px 0
}
.search-properties-block .any-filters h4.panel-heading.property-block-title .caret{
    float: right;
    margin-top: 6px;
    border-top: 9px solid #818181;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.search-properties-block .checkbox-button:not(checked) + label:before{
    width: 25px;
    height: 25px;
}
.search-properties-block .any-filters .checkbox-button:not(checked) + label{
    font-size: 24px;
    padding-left: 58px;
}
.search-properties-block .any-filters .checkbox-button:not(checked) + label:after {
    top: 4px;
    left: 0;
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 2px;
    background: url("../img/checkmark.png") no-repeat #169a2a center;
    background-size: 18px;
    opacity: 0;
    transition: all .2s;
}
.search-properties-block .any-filters .checkbox-button:checked + label:after {
    opacity: 1;
}
.any-filters .property-block-value.selector{
    padding: 13px 0;
}
.any-filters .property-block-checkbox.input-group{
    padding-left: 6px;
}

.search-properties-block .any-filters .radio-button + label{
    font-size: 24px;
    font-weight: 400;
}
.search-properties-block .any-filters .night{
    font-size: 18px;
    font-weight: 400;
    padding-left: 35px;
}
.search-properties-block .any-filters .radio-button + label:before{
    content: '';
    display: inline-block;
    position: relative;
    right: 6px;
    width: 20px;
    height: 20px;
    border: 1px solid #8c8c8c;
    border-radius: 50%;
    background: #FFF;
    margin-top: 9px;
}
.search-properties-block .any-filters .radio-button:checked + label:before {
    background: #1c932b;
    border-color:#1c932b;;
}
.any-filters .radio-group{
    padding-top: 18px;
}
.any-filters .property-block-value.selector.radio-group{
    padding: 5px 0;
}

.for-mobile .search-properties-block .callback button{
    background: #ff8e01;
    color: #fff;
    font-weight: 700;
    padding: 12px 48px;
    border: 0;
    border-bottom: 3px solid #b06200;
    outline: none;
    font-size: 15px;
}
.filter-back{
    color: #5b5b5b;
    border-bottom: 1px dashed #383838;
    margin-top: 20px;
    display: inline-block;
}
.filter-back:hover{
    text-decoration: none;
}