body{
    background: #e3e3e3;
    padding-top: 60px;
    position: relative;
    font-family:"OpenSans";
}
@font-face {
    font-family:"OpenSans";
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family:"OpenSans";
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family:"OpenSans";
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family:"OpenSans";
    src: url(../fonts/OpenSans-Semibold.ttf);
    font-weight: 600;
}
@font-face {
    font-family:"OpenSans";
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family:"PTSans Bold";
    src: url(../fonts/PTSans-Bold.ttf);
}
.search-page {
    margin-top: 18px;
}
button{
    outline: none;
}
@media (max-width: 768px) {
    body{
        padding-top: 74px;
    }
    .search-page {
        margin-top: 0;
    }
}

/*Футер*/
footer{
    background: #272e34;
    color: #c5cdd0;
    padding: 25px 5px;
    margin-top: 60px;
}
footer a, footer a:hover{
    color: #c5cdd0;
}
footer .footer-logo{
    font-size: 12px;
    text-align: left;
}
footer ul{
    list-style: none;
    padding-left: 0;
}
footer .cards{
    display: flex;
}
footer .cards .visa{
    margin-left: 10px;
}
footer .callback p{
    color:#fff;
    font-size:18px;
}
footer .callback button{
    background: #26ba62;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-bottom: 3px solid #15783f;
    outline: none;
}
footer .callback button:hover, .callback button:focus, .callback button:focus:active, .callback button:active{
    color:#fff;
    outline: none;
}
.pre-footer{
    background: #3ab54a;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    font-size: 16px;
}
.quections{
    text-align: left;
}
.quections span{
    font-size: 24px;
    font-weight: 700;
}
.quections p{
    letter-spacing: 2px;
}
.write{
    background: transparent;
    border: 2px solid #fff;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: 600;
    padding: 8px 25px;
    margin-top: 10px;
    float: right;
}
@media (max-width: 991px){
    footer{
        margin-top: 0;
    }
}

/*Меню*/
.navbar{
    margin-bottom: 0;
}
nav.navbar.navbar-inverse.navbar-fixed-top{
    background: #272e34;
}
#navbar ul.nav.navbar-nav{
    margin-left: 55px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .open a,
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover,
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background: transparent;
    box-shadow: none;
}
a.navbar-brand{
    padding: 0;
    height: auto;
    padding-top: 6px;
}
.navbar-inverse .navbar-nav li a, .my-booking.visible-xs .registration a{
    color:#fff;
}
.search-header{
    color: #fff;
    text-align: center;
    margin-top: 10px;
}
.navbar-inverse .navbar-toggle{
    border: 0;
}
ul#login-dp-mobile{
    float: left;
    position: relative;
    margin-right: -100px;
    margin-top: 46px;
}
@media (min-width: 768px){
    .navbar-right {
        margin-right: 0;
    }
    .navbar>.container .navbar-brand{
        margin-left: 0;
    }
    .navbar-nav>li>a{
        padding: 20px 15px;
    }

}
@media (max-width: 768px){
    .menu .container .navbar-header{
        margin-left: 0;
        padding: 11px 0;
    }
}

/*Селектор языка*/
.lang-selector .dropdown-menu{
    background: rgba(49,54,60,0.8);
    box-shadow:none;
    border-radius: 0px;
    padding: 10px 40px 25px 20px;
}
.lang-selector li.open{
    background: #31363c;
}
.lang-selector li .lang {
    padding-left: 40px;
    box-shadow: none;
}
.lang-selector .dropdown-menu li a{
    color:#fff;
}
#lang-selector .ru-RU{
    background: url(../img/ru-RU.gif);
}
#lang-selector .en-GB{
    background: url(../img/en-GB.gif);
}
#lang-selector .lang{
    background-position: center left;
    background-repeat: no-repeat;
}
#lang-selector .active-lang {
    background-position: center;
    padding: 30px 40px;
    background-repeat: no-repeat;
}
#lang-selector  .activ{
    font-weight: 700;
}
#lang-selector .navbar-inverse .navbar-nav>li>a:focus, #lang-selector .navbar-inverse .navbar-nav>li>a:hover{
    background-color: inherit;
}

/*Меню мой букинг*/
ul.nav.navbar-nav.my-booking li a, ul.nav.navbar-nav.my-booking li.open a{
    background: #303940;
}
#navbar ul.nav.navbar-nav.navbar-right.my-booking{
    margin-left: 0;
}
.my-booking .dropdown-menu{
    background: rgba(48,57,64,0.8);
    box-shadow:none;
    border-radius: 0px;
    padding: 30px;
}
.my-booking .man-ico{
    margin-right: 10px;
}
.my-booking .caret-new{
    margin-left: 12px;
}
.my-booking .form input.form-control{
    width: 100%;
    margin-bottom: 15px;
    box-shadow: none;
    border: none;
}
ul.nav.navbar-nav.my-booking li.open .form a{
    background: none;
}
.navbar-inverse .navbar-nav li .help-block a, ul.my-booking.visible-xs .help-block a{
    color: #a7abac;
    font-size: 12px;
}
.my-booking .door.form-group{
    display: flex;
}
.my-booking .door.form-group .registration, .door.form-group .login{
    margin: auto;;
    text-align: center;
}
.my-booking .door.form-group .login{
    margin-left: 10px;
}
.my-booking .registration{
    text-decoration: underline;

}
.my-booking .form-group button.btn{
    background: #26ba62;
    color:#fff;
    font-weight: bold;
    padding: 10px 20px;
    outline: none;
}
.my-booking .form-group button.btn:focus{
    outline: none;
}
ul.my-booking.visible-xs{
    position: absolute;
    right: 80px;
    margin-top: 15px;
}

/*Пагинатор*/
.pagination>li>a{
    margin-left: 10px;
}
.pagination>li>a, .pagination>li>span, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover, .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover,
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    color: #2a2f33;
    background: none;
    border: none;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background: #b8d8e5;
    border: none;
    color: #374047;
    border-radius: 100px;
}
.pagination>li:first-child>a{
    padding-left: 0;
}
.pagination>li.disabled>a, .pagination>li.disabled>span, .pagination>li.disabled>a:hover{
    color: #a8a8a8;
}
.pagination>li:last-child>a, .pagination>li:last-child>span{
    color: #269d35;
}


/*кнопки вместо панелей*/
.button-group{
    text-align: center;
    margin-bottom: 14px;
}
.mobile-button{
    background: #979b9e;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 23px;
    margin: 0 22px;
    display: inline-block;
}
.mobile-button:hover{
    text-decoration: none;
    color: #fff;
}