.steps{
    background: url("../img/Vrstva-7.png")no-repeat center right #fff;
    background-size: contain;
    padding-top: 70px;
    padding-bottom: 70px;
}
.steps h1{
    font-size: 32px;
    font-weight: 800;
    color: #272e34;
}
.steps h1 .together{
    font-size: 24px;
    font-weight: 300;
}
.steps h1 .bm{
    font-size: 54px;
    text-transform: uppercase;
}
.steps h3{
    margin-top: 60px;
    font-weight: 300;
    font-size: 23px;
}
.steps .three-step{
    color: #737373;
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
}
.steps .row{
    margin-top: 60px;
    max-width: 800px;
}
.steps .step p{
    margin-left: -20px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 17px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000;
    margin-bottom: 0;
}
.steps .step-img{
    min-height: 74px;
}
.steps .step3 img{
    max-width: 110px;
    margin-left: -10px;
}
.steps .step1 p{
    background: url("../img/one-bg.png") no-repeat top left;
}
.steps .step2 p{
    background: url("../img/two-bg.png") no-repeat top left;
}
.steps .step3 p{
    background: url("../img/three-bg.png") no-repeat top left;
    padding-bottom:40px;
}
@media (max-width: 1200px){
    .steps{
        background: #fff;
    }
}
@media (max-width: 768px){
    .steps .step1 p, .steps .step2 p, .steps .step3 p{
        background: none;
    }
    .steps .step p{
       margin-top: 0;
    }
}

.partner-block{
    background: url("../img/coast.png") no-repeat center ;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
    color: #ffffff;
}
.partner-block .partner-button{
    background: #ff9000;
    border-bottom: 4px solid #a05b01;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    padding: 25px 95px ;
    outline: none;
    border-radius: 10px;
}
.partner-button:active:focus, .partner-button:focus{
    outline: none;
}
.partner-button:focus, .partner-button:hover{
    color: #fff;
}
.partner-block p{
    font-size: 16px;
    max-width: 540px;
    margin: 0 auto;
    margin-top: 35px;
}


.access{
    background: #fff;
    text-align:center;
    padding-top: 65px;
    padding-bottom: 90px;
}
.access h2{
    font-size: 24px;
    font-weight:300 ;
    color:#000 ;
    max-width: 600px;
    margin: 0 auto;
    text-transform: uppercase;
    line-height: 150%;
}
.access .row{
    margin-top: 90px;
}
.access p{
    font-size: 16px;
    font-weight: 300;
    max-width: 320px;
    margin: 0 auto;
    padding: 20px;
    background: url("../img/angle.png") no-repeat top left;
    margin-top: 30px;
}
.access .icons{
    min-height: 128px;
}


.conditions{
    background: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 80px;
}
.conditions h2{
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
}
.conditions .row{
    margin-top: 90px;
}
.conditions .conditions-icon{
    min-height: 50px;
}
.conditions p{
    font-size: 15px;
    color: #272e34;
    margin-top: 20px;
    padding-right: 20px;
}


.advantages{
    background: url("../img/coast2.png") no-repeat center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 65px;
    font-size: 16px;
    font-weight: 300;
}
.advantages h2{
    font-size: 32px;
    font-weight: 300;
    color: #fff;
}
.advantages img{
    max-height: 100px;
}
.advantages .advantages-icon{
    min-height: 100px;
}
.advantages .cooperation{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;
}
.advantages .row{
    margin-top: 70px;

}
.advantages .row p{
    max-width: 290px;
    margin: 0 auto;
    margin-top: 45px;
}


.become-partner{
    background: url("../img/key.png") no-repeat center #63c7d2;
    text-align: center;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 120px;
}
.become-partner p{
    font-size: 18px;
    text-shadow: 0.5px 0.866px 0px rgba( 0, 0, 0,0.3 );
    max-width: 930px;
    margin: 0 auto;

}
.become-partner h4{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0.5px 0.866px 0 rgba( 0, 0, 0,0.3 );
    margin-top: 20px;
}
.become-partner .button-bottom{
    background: #ff583f;
    border-bottom: 4px solid #ff2100;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    padding: 25px 95px ;
    outline: none;
    border-radius: 10px;
    margin-top: 60px;
}
.button-bottom:active:focus, .button-bottom:focus{
    outline: none;
}
.button-bottom:focus, .button-bottom:hover{
    color: #fff;
}


footer{
    margin-top: 0;
}