.sort-by .search-properties-block{
    margin-top: 0;
    background: transparent;
    border: none;
    padding-left: 21px;
}
.search-properties-block .property-block.panel.selector{
    background: transparent;
    border-bottom: none;
}
.sort-by .search-properties-block .panel-heading.property-block-title {
    font-size: 24px;
}
.sort-by .property-block-values{
    margin-top: 25px;
}
.sort-by .property-block-value.selector{
    padding: 15px 0;
}
.sort-by .search-properties-block .radio-button + label{
    font-size: 22px;
}
.sort-by .search-properties-block .radio-button + label:before{
    content: '';
    display: inline-block;
    position: relative;
    right: 6px;
    width: 20px;
    height: 20px;
    border: 1px solid #8c8c8c;
    border-radius: 50%;
    background: #FFF;
}
.sort-by .search-properties-block .radio-button:checked + label:before {
    background: #1c932b;
    border-color:#1c932b;;
}
.callback{
    text-align: center;
}
.callback button{
    background: #fe8d01;
    color: #fff;
    border-bottom: 3px solid #c46e01;
    padding: 11px 45px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 11px;
    outline: none;
    margin-top: 42px;
}